body {
    font-family: "Rubik", sans-serif;
    color:black;

}
.container {
    margin: 0 auto;
    padding: 0;
    max-width: 100%;
    text-align: center;
}
a {
    text-decoration: none;
}

li {
    display: block;
}