header {
    color: white;
    background-image: url(../img/header_background.svg);
    background-size: cover;
    height: 140vh;
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 5vh 5vh;
}
.navbar__logo {
    margin-top: 3%;
}
.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__nav-btn a{
    position: relative;
    background-color: #FF6A5D;
    padding: 1rem 1rem;

    border-radius: 5px;
    font-weight: bold;
}
    
.navbar nav ul {
    list-style: none;
    display: flex;
    margin-top: 15%;
}

.navbar nav ul li {
    margin-left: 1rem;
}



.navbar nav ul li a {
    font-size: 0.8rem;
    font-weight: 700;
    line-height: 1rem;
    letter-spacing: 0.05em;
    color: white;
    transition: color 0.3s ease;
}

.navbar nav ul li a:hover {
    color: #ffd1a4;
}
.intro{
    text-align: left;
    align-items: flex-end;
    margin-left: 7%;
}
.intro h2 {
    font-size: 5rem;
    font-weight: 400;
    line-height: 6rem;
    margin-top: 5%;
    margin-left: 5%;
}
.intro a {   
    position: relative;
    color:white;
    background-color: #FF6A5D;
    padding: 1% 1%;
    border-radius: 10%;
    margin-left: 5%;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
