/* about-us.css */
.about-us img, .how-to-apply img {
  scale: 0.5;
}

.about-us, .how-to-apply {
  display: flex;
  justify-content: center;
  margin: 10% 20%;
}

.about-us h2, .how-to-apply h2 {
  font-size: 2rem;
  color: #ff6450;
  margin-bottom: 20px;
  font-weight: bold;
}

.about-us p, .how-to-apply p {
  font-size: 1rem;
  margin-bottom: 2px;
}

.about-us .description, .how-to-apply .description {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
}
