/* images.css */
.lorry-img {
  position: absolute;
  max-width: 40%;
  height: auto;
  left: -8rem;
  bottom: -15rem;
}

.title-img {
  position: absolute;
  height: auto;
  z-index: -1;
  margin-top: -60px;
}
