/* navbar.css */
.navbar {
  display: flex;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  margin: 0 5rem;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}
